<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895281492877-b175gk9m2hk993bt7pn2bt07ob2tnvq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895281492877-b175gk9m2hk993bt7pn2bt07ob2tnvq1</string>
	<key>API_KEY</key>
	<string>AIzaSyCYgDSqq7Y0mnHNJX2KTyr6c-NCqm5N0Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>895281492877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alisher.khalykbayev.SkyLogger</string>
	<key>PROJECT_ID</key>
	<string>skylogger-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>skylogger-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895281492877:ios:e34c72bd30b9c02e7183c4</string>
</dict>
</plist>